.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.book-container {
  padding: 5px;
  margin: 20px;
  background: #6a8142;
  color: #abdbe3;
}

body {
  color: #465658;
  background-color: #e8f5d2;
}

.book-form {
  border: 5px solid;
  margin: 20px;
  padding: 20px;
}

.book-list{
  font-size: 30px;
  font-weight: 300;
  font-variant: small-caps
}

.book-form-h1{
  font-variant: small-caps
}
